{% extends 'base.html.twig' %}

{% block title %}Ma commande !{% endblock %}

{% block content %}
<a href=" {{path('account_order')}} ">Retour</a>
<hr><strong></strong>
<strong>Commande passé le</strong>{{order.createAt|date('d/m/Y')}} <br>
{% if order.state == 1 %}
{% set statut = 'Paiement accepté' %}
{% elseif order.state == 2 %}
{% set statut = 'En cours de préparation' %}
{% elseif order.state == 3 %}
{% set statut = 'En cours de livraison' %}
{% endif %} 
<strong>Statut :</strong> <small>{{ statut }}</small> <br>
<strong>Référence de la commande :</strong> <small>{{ order.reference }}</small><br>
<strong>Transporteur choisi : </strong>{{ order.carrierName }}
<hr>
<strong>Détails :</strong>

<table class="table">
<thead>
<tr>
  <th>Produit</th>
  <th>Quantité</th>
  <th>Prix unitaire</th>
  <th>Total</th>
</tr>
</thead>
<tbody>
{% for product in order.orderDetails %}



  <tr>
    <td>{{ product.product }}</td>
    <td>{{ product.quantity }}</td>
    <td>{{ ((product.price)/100)|number_format(2,',','.')}}€ </td>
    <td>{{ ((product.total)/100)|number_format(2,',','.')}}€ </td>
  </tr>
{% endfor %}
</tbody>
</table>

<div class="text-right">
  <strong>Sous Total : </strong>{{ ((order.getTotal))|number_format(2,',','.')}}€ <br>
  <strong>Livraison : </strong>{{ ((order.carrierPrice))|number_format(2,',','.')}}€ <br>
<strong>Total : </strong>{{ ((order.carrierPrice + order.getTotal))|number_format(2,',','.')}}€
</div>


{% endblock %}
