{% set route_name = app.request.attributes.get('_route') %}

<header class=" ">
   

    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <a class="navbar-brand" href="{{ path('home')}}"><img width="40px" src="/assets/uploads/img/letter.png"
            alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if route_name == " app_product" %}active{% endif %}">
                    <a class="nav-link" href="{{ path('app_product')}}">Produits </a>
                </li>

                <li class="nav-item {% if route_name == " contact" %}active{% endif %}">
                    <a class="nav-link" href="{{ path('contact') }}">Contact </a>
                </li>
            </ul>

          <div class="my-2 my-lg-0 d-flex">
           <div class="navbar-item-custom">
            {% if app.user %}
            {# <a href="{{ path('account') }}">Mon compte</a> / <a href="{{ path('app_logout') }}">Déconnexion</a>
            #}
            <a href="{{ path('account') }}"><img width="20px" src="/assets/uploads/img/profile.png" alt=""></a>

            {% else %}
            <a href="{{ path('login') }}">Connexion</a> | <a href="{{ path('register') }}">Inscription</a>
            {% endif %}
           </div>
           <div class="navbar-item-custom">
              {# <a href="{{ path('app_cart')}}"><i class="fa-solid fa-cart-shopping"></i> {% if panier_count > 0
                    %}{{panier_count}}{% endif %} </a> #}
                    <a href="{{ path('app_cart')}}"><img width="20px" src="/assets/uploads/img/shopping-cart.png" alt=""> {%
                        if panier_count > 0 %}{{panier_count}}{% endif %} </a>
    
           </div>
          </div>
        </div>
      </nav>





</header>