<!doctype html>
<html lang="fr">
{% include 'base/head.html.twig' %}

<body>


    {% set panier_count = 0 %}
    {% for r in app.session.get('panier') %}
        {% set panier_count = panier_count + r %}
    {% endfor %}

    <main role="main" class="">

        {% include 'layouts/partials/_flash_messages.html.twig' %}
        
        {% include 'layouts/partials/_menu.html.twig' %}
        
        {% if block('carousel') is defined %}
        <div class="">
            {% for key,header in headers %}
            <div class="hero-home {% if key == 0 %}active{% endif %}"
                style="background: url('/assets/uploads/img/header/{{ header.illustration }}');background-size:cover;">

                <div class="container">
                    <div class="text-left">
                        <h1>{{ header.title }}</h1>
                        <p>{{ header.content }}</p>
                        <p><a class="btn btn-lg btn-info" href="{{ path('app_product')}}" role="button">{{
                                header.btnTitle }}</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}



        <div class="marketing container">
            {% block content %}{% endblock %}
        </div>

        {% include 'base/footer.html.twig' %}
    </main>

</html>